.incident-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    grid-gap: 60px;
}

/* incident summary */
.incident-summary {
    background-color: var(--dark-background-color);
    padding: 30px;
    border-radius: 10px;
}

.incident-summary .start-date {
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--secondary-text-color);
}

.incident-summary .details {
    margin: 30px 0;
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
}

.incident-summary .btn {
    margin-top: 20px;
}

/* incident comments */
.incident-comments {
    /* background-color: var(--dark-background-color); */
    padding: 30px;
    border-radius: 10px;
}

.incident-comments label {
    margin-bottom: 0px;
}

.incident-comments textarea {
    min-height: 40px;
    width: 100%;
    font-size: 1.5em;
    resize: none;
}

.incident-comments .btn {
    margin-top: 10px;
}

.incident-comments .add-new-comment {
    color: var(--secondary-text-color);
}

/* incident comments */
.incident-comments label {
    margin-bottom: 0px;
}

.incident-comments textarea {
    min-height: 40px;
    font-size: 1.5em;
}

/* comment list */
.incident-comments h4 {
    color: var(--text-color);
}

.incident-comments li {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    background: var(--dark-background-color);
}

.comment-author {
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.comment-author .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.comment-date {
    color: var(--secondary-text-color);
    font-size: 0.9em;
    margin: 4px 0 10px;
}

.comment-content {
    color: var(--text-color);
    font-size: 0.9em;
}

/* incident list */
.incident-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.incident-list a {
    background-color: var(--dark-background-color);
    padding: 16px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
}

.incident-list h4 {
    font-size: 0.9em;
    color: var(--heading-color);
}

.incident-list p,
.comments-list p {
    color: var(--secondary-text-color);
    font-size: 0.9em;
}